<h1 class="animated fadeIn fast">Sobre comic app</h1>
<hr>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum iusto, quaerat soluta veniam animi tenetur eius temporibus numquam dolorem sed. Soluta excepturi nisi, delectus suscipit nihil eligendi fugiat ipsum dolores.Soluta at sit sunt iusto magni perferendis aspernatur fugit illum illo eligendi iure porro, vitae temporibus laudantium eius provident? Nostrum autem minima molestiae repellat cupiditate sequi voluptate qui eius corporis.
</p>